{% load static %}
<html>
    <head>
        <title>To-do</title>
        <!-- Resources needed for all pages-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
        <!-- Resources for chart-->
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <link rel=”stylesheet” href=”//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css”>

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    </head>

    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'list_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'item_list' %}" class="top-menu"><span class="glyphicon glyphicon-th"></span></a>
                <a href="{% url 'list_list' %}" class="top-menu"><span class="glyphicon glyphicon-th-list"></span></a>
                <a href="{% url 'statistics' %}" class="top-menu"><span class="glyphicon glyphicon-dashboard"></span></a>
            {% endif %}
            <h1><a href="/">To-do</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
