{% extends 'todolist/base.html' %}

{% block content %}
    {% for list in lists %}
        <div class="item">
                {% if user.is_authenticated %}
                    <a href="{% url 'item_new' list_id=list.pk %}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'list_remove' pk=list.pk %}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
                <h1><a href="{%  url 'list_detail' pk=list.pk %}">{{ list.list_title }}</a></h1>
        <div class="date">
            {{ list.modified_date }}
            <br/><br/><br/><br/>
        </div>
        </div>
    {% endfor %}
{% endblock %}
